<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
	  <server>
      <id>anypoint-exchange-v3</id>
	  <username>~~~Client~~~</username>
	  <password>${connected_app_id}~?~${connected_app_secret}</password>
    </server>
	
	  <server>
      <id>mule-repository</id>
      <username>${nexus_username}</username>
      <password>${nexus_password}</password>
    </server>
  </servers>

<profiles>
    <profile>
      <id>Radhika</id>

      <repositories>
        <repository>
          <id>mulesoft-releases</id>
          <name>MuleSoft Releases</name>
          <url>https://repository.mulesoft.org/releases/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>

        <repository>
          <id>anypoint-exchange-v3</id>
          <name>Anypoint Exchange</name>
          <url>https://maven.anypoint.mulesoft.com/api/v3/maven</url>
          <layout>default</layout>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>

		  <repository>
			<id>mule-repository</id>
          	<name>Mule Repository</name>
          	<url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
          	<layout>default</layout>
          	<releases><enabled>true</enabled></releases>
          	<snapshots><enabled>false</enabled></snapshots>
        </repository>    

      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>mulesoft-releases</id>
          <name>MuleSoft Plugin Releases</name>
          <url>https://repository.mulesoft.org/releases/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
		
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>Radhika</activeProfile>
  </activeProfiles>

</settings>
